theme: jekyll-theme-chirpy

lang: it-IT

timezone: Europe/Rome

title: Unhandled Exception

tagline: everyday a developer wakes up and starts coding

description: >-
  Blog tecnico di Emanuele Garofalo, Microsoft MVP.
  Articoli su .NET, C#, architettura software e sviluppo.

url: "https://blog.unhandledexception.it"

github:
  username: gar-ema

twitter:
  username: emagar83

social:
  name: Emanuele Garofalo
  email: ""
  links:
    - https://github.com/gar-ema
    - https://twitter.com/emagar83
    - https://www.linkedin.com/in/emanuele-garofalo-ba12ab31

# Site-wide Open Graph image (optional)
# img_cdn:
# avatar: /assets/imgs/avatar.png

theme_mode: # [light | dark]

# Self-hosted static assets: no CDN
# assets:
#   self_host:
#     enabled: true

toc: true

comments:
  provider: giscus
  giscus:
    repo: # gar-ema/gar-ema.github.io
    repo_id:
    category:
    category_id:
    mapping: pathname
    strict: 0
    input_position: bottom
    lang: it
    reactions_enabled: 1

# Web Analytics
analytics:
  google:
    id: # fill in your Google Analytics ID

pageviews:
  provider: # goatcounter

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _tabs
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "*.config.js"
  - package*.json

plugins:
  - jekyll-theme-chirpy
